@import "src/app/styles/colors.scss";
.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    b{
        font-size: 2rem;
    }
    mat-icon{
        cursor: pointer;
    }
}

.color-panel{
    background-color:$gray;
}