<div class="info">

    <div class="info__title">
        <img src="src/assets/images/pomodoro.png" alt="">
        <label>Pomodoro App</label>
    </div>
    <section #what class="info__section">

        <img src="src/assets/images/pomodoro_tecnique.jpg" alt="">
        <p>
            The pomodoro technique is a time management method to increase productivity.
            It is used by many professionals to divide work time and breaks.
            The duration of each work interval called pomodoro is usually set to 25 minutes, but it can be customized to
            any taste.
        </p>

        <button class='next' mat-mini-fab (click)="goToWho()" color="primary">
            <mat-icon>expand_more</mat-icon>
        </button>
    </section>

    <section #who class="info__section">
        <button class="back" (click)="goToWhat()" mat-mini-fab color="primary">
            <mat-icon>expand_less</mat-icon>
        </button>
        <p class="label-whom">
            The pomodoro technique is used for people who need to be focus in their activities to achieve their
            objectives and goals.
            Probably, many youtubers, influencers and entrepreneurs are the most common.
            But for sure this app could be used for anyone who wants to improve your time and focus.
        </p>
        <img src="src/assets/images/forWhom.jpg" alt="">
        <button class='next' (click)="goToWhy()" mat-mini-fab color="primary">
            <mat-icon>expand_more</mat-icon>
        </button>
    </section>
    <section #why class="info__section">
        <button class='back' (click)="goToWho()" mat-mini-fab color="primary">
            <mat-icon>expand_less</mat-icon>
        </button>
        <img src="src/assets/images/time.jpg" alt="">
        <p>
            The attention span is the ability to concentrate on a single task; the greater our concentration, the easier
            it will be
            to perform it. Studies have estimated that this interval lasts approximately 20 minutes.

            It is natural to get distracted in search of new information, but it is also possible to concentrate again
            by refreshing
            the attention span.
        </p>

    </section>

    <button routerLink="app" class="info__launch" mat-raised-button color="primary">
        <mat-icon>rocket_launch</mat-icon>
        Launch the App
    </button>

</div>